<div class="topnav">
  <%= link_to 'Home', root_path, class: 'active' %>
  <%= link_to 'About', about_path %>
  <div class="search-container">
      <%= form_for :user, url: search_path, method: "get" do |f| %>
      <%= f.text_field :name, type: 'text', placeholder: 'Twitter handle' %>
      <%= f.button 'Submit', type: 'submit' %> 
  </div>
<% end %>
  </div>
</div>

